<nav id="onboarding-navbar" class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-brand" href="/">
        <img alt="Starcity" src="/assets/svg/logo-wordmark.svg"/>
      </a>
    </div>
    <div class="nav-right">
      <div class="nav-item" style="justify-content: flex-end;">
        <p class="control">
          <a id="logout" class="button is-primary is-pulled-right" href="/logout">Logout</a>
        </p>
      </div>
    </div>
  </div>
</nav>
