{:server-port     3449
 :css-dirs        ["resources/public/assets/css"]
 :builds-to-start ["odin"]
 :builds
 [{:id           "odin"
   :source-paths ["src/cljs"]
   :figwheel     {:on-jsload odin.core/render}
   :compiler     {:main                 odin.core
                  :preloads             [devtools.preload]
                  :asset-path           "/js/cljs/odin/out"
                  :output-to            "resources/public/js/cljs/odin.js"
                  :output-dir           "resources/public/js/cljs/odin/out"
                  :verbose              false
                  :source-map           true
                  :optimizations        :none
                  :source-map-timestamp true
                  :external-config
                  {:devtools/config
                   {:features-to-install    [:formatters :hints]
                    :fn-symbol              "ƒ"
                    :print-config-overrides true}}}}]}
