.button
  display: inline-block
  background: white
  color: $black

  &:hover, &.is-hovered
    color: $black

  .icon + .with-icon, .with-icon + .icon
    margin-left: 1rem

  &.is-wide
    padding-left: 3rem
    padding-right: 3rem

.button + .button
  margin-left: $side-padding

.ant-btn + .ant-btn
  margin-left: $side-padding

.button.is-primary, .ant-btn.ant-btn-primary
  color: white
  font-weight: bold
  text-shadow: 0 1px 0 rgba(0,0,0,0.2)

  .icon
    color: white

  &[disabled]
    color: rgb(185,185,185)
    font-weight: normal
    text-shadow: none



/* .ant-btn:not(.ant-btn-circle)
/*   /* padding: 0 1rem
/*   /* height: 2.4rem
/*   /* font-size: .9rem

/*   &.ant-btn-danger
/*     font-weight: bold

/*     &[disabled]
/*       font-weight: normal


/*   &.ant-btn-lg
/*     padding: 0 1rem
/*     font-size: .9rem
/*     height: 2.4rem

/*     .anticon
/*       vertical-align: middle

/*     .anticon+span
/*       margin-left: .6em


/* .ant-btn-circle
  /* $dimensions: 40px
  /* width: $dimensions
  /* height: $dimensions
  /* font-size: 18px
