
.card, .ant-card, .ant-card-bordered, .box
  // background: white
  background-color: #fff
  border: none
  border-radius: 1px
  box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1)


// Fixing some Ant styles that are badly-written
// or broken by correct baseline styles.
.ant-card

  // Center title vertically in .ant-card-head
  .ant-card-head
    display: flex
    flex-direction: row
    align-items: center

  .ant-card-head-title
    margin: 0

  // Center "extras" vertically in .ant-card-head
  .ant-card-extra
    display: flex
    top: 0
    height: 48px
    align-items: center

// Sequential cards have margin between them
.card + .card, .ant-card + .ant-card, .card + .ant-card
  margin-top: $side-padding

// FLUSH (no padding)
// Add this class to let child content fill entire card (such as for tables)
.ant-card.flush-body, .ant-card.is-flush
  .ant-card-body
    padding: 0
  // Fix table padding to align with card header contents
  .table
    td, th
      &:first-child
        padding-left: 25px
      &:last-child
        padding-right: 25px

// Bulma card footer
.card-footer-item
  &.is-success
    color: $success
  &.is-danger
    color: $danger
  &:hover
    background: #fafafa
