
// TAGS (Bulma, not Ant)
span.tag
  border-radius: $inner-component-border-radius

  // &.is-hollow
    // background: none
    // border: 1px solid #aaa

  &.is-success
    background: $text-green
  // &.is-pending
  //   background: $text-yellow
  //
  // &.is-paid
  //   border: 1px solid $text-green
  //   color:  $text-green
  //   background: white

table, .table
  .tag
    opacity: 0.8
    font-size: .6rem
    border: 1px solid rgba(0,0,0,0.15)
    background: none
    border-radius: 10rem
    line-height: 1
    padding: .2rem .5rem
    text-transform: uppercase
    font-weight: bold


// For showing a set of instructions, such as linking a new bank account, etc.
.steps-vertical
  .media
    @extend .flexrow
    align-items: center
    padding: 1rem

  .media + .media
    margin: 0
