// Fixing horizontal Ant forms
// .ant-form-horizontal
//   .ant-row
//     display: flex
//
//     .ant-form-item-label
//       flex: 0 0 6rem
//
//     .ant-form-item-control-wrapper
//       flex: 1 1 auto

$form-label-font-size: .8rem
$form-input-font-size: .9rem
$form-input-padding:   6px 7px
$form-input-height:    32px

$fieldset-label-font-size: .8rem
$fieldset-label-margin: 1rem

fieldset
  outline: none
  border: none
  margin-bottom: 2rem


.select select
  background: white

.ant-form:not(:last-child)
  margin-bottom: $side-padding

h4.fieldset-label
  font-size: $fieldset-label-font-size
  text-transform: uppercase
  margin-bottom: $fieldset-label-margin
  color: $text-gray
  position: relative
  height: 1.2rem
  span
    position: absolute
    display: inline-block
    padding: 0 .5rem
    background: #fff
    z-index: 12

  &:after
    @extend .pseudo-element
    top: 50%
    width: 100%
    height: 1px
    background: #ddd
    z-index: 11

.ant-form-item
  &:last-child
    margin-bottom: 0

// .ant-form-item-control-wrapper
  // margin-bottom: $side-padding

.ant-form-item-label
  margin-right: $inner-component-padding

  label
    font-weight: bold
    font-size: $form-label-font-size
    &:after
      display: none

.ant-input, .ant-input-lg
  height:    $form-input-height
  font-size: $form-input-font-size
  padding:   $form-input-padding


.ant-form-explain
  display: block


.ant-radio-group
  margin: 1rem 0

.ant-radio-wrapper
  @extend .flexrow
  align-items: center
  padding: .5rem 1rem
  font-size: 1rem



// Number inputs for microdeposits
.form-verify-microdeposits
  @extend .flexrow
  justify-content: center

  .ant-input-number-input
    // font-size: 1.2rem
    // height: auto
    position: relative
    // text-align: center
    padding-left: 35px
    font-size: 16px

  .ant-input-number-input-wrap
    font-size: 16px
    line-height: 1
    &:before
      pointer-events: none
      position: absolute
      display: block
      content: "$0."
      z-index: 999
      top: 8px
      left: 11px
      color: #ccc

// STRIPE FORM STYLING
.ant-modal-body

  .label.is-small
    font-size: 1rem

.StripeElement
  background: $white
  padding: .75rem 1rem
  box-shadow: $component-box-shadow
  border-radius: $component-border-radius

.CardField
  .InputElement
    font-size: 1rem

#card-errors
  margin-top: .5rem
  font-size: .9rem
