// Fine-tuning the display of icons
// and providing reusable additional styles.

h1,h2,h3,h4
  .icon
    display: inline-block
    vertical-align: middle
    margin-right: .15rem
    text-align: center
