// Flexbox
.flexbox
  display: flex
  flex-direction: row

.valign
  align-self: center

.flexrow
  display: flex
  flex-direction: row

.flexcol
  display: flex
  flex-direction: column

.flex-pin-right
  margin-left: auto

.flex-pin-bottom
  margin-top: auto

// Spacing
.pad-left
  padding-left: $side-padding

.pad-right
  padding-right: $side-padding

.full-width
  width: 100%

// Spacing for elements in a row. When using this class,
// the :last-child will not have spacing. If this behavior
// is undesired, then use the classes above.
.space-right
  &:not(:last-child)
    margin-right: $side-padding

// PAGE LAYOUT
// ----------------------------
#odin
  display: flex
  flex-direction: column
  height: 100%

.container
  display: flex
  flex-direction: column

  max-width: $infinite
  width: 100%
  height: 100%
  min-height: 100%

  // Navbar (sized to fit contents)
  .navbar
    margin: 0
    padding: 0 $side-padding
    flex: 0 0 auto

  // Page (expands to fill remaining window)
  .root-section
    flex: 1 1 auto


section, .section
  padding: 1.5rem


// COMPONENT LAYOUT
