// NAV BAR (top of the page)
// ----------------------------
.navbar
  background: $black
  color: $white

  .navbar-burger
    &:hover
      background-color: $dark-black !important
    span
      background-color: $white

// "STARCITY" BRAND LOGO
.brand-logo
  text-indent: -99999px
  font-size: 0.00001rem
  width: 3rem
  background: url(../svg/logo-white.svg) center center no-repeat
  background-size: 60% auto

// NAV ITEM
.navbar-item
  font-size: 0.85rem
  color: $white

  &.is-active
    color: $tranquil-blue !important
    background-color: $dark-black !important

// NAV ITEM - Links
.navbar-item.hoverable, a.navbar-item, a.navbar-link

  &:hover
    color: $tranquil-blue
    background-color: $dark-black !important


// NAV SEARCH
// .navbar .ant-input-search
  // border: 1px solid $dark-black
  // background: #aaa

  // Icon: Magnifying glass
  // + .ant-input-suffix .anticon
    // color: #fff

  // Search field focused
  // &:focus
    // background: $white
    // + .ant-input-suffix .anticon
      // color: $black


// BREADCRUMBS
// ----------------------------
.ant-breadcrumb
  font-size: .9rem
  padding: .5rem 0



// PANELS
// ----------------------------
nav.panel
  background: white
