// NAV BAR (top of page)
.navbar
  background: $black
  color: $white

// "STARCITY" BRAND LOGO
.brand-logo
  text-indent: -99999px
  font-size: 0.00001rem
  width: 3rem
  height: 100%
  background: url(../svg/logo-white.svg) center center no-repeat
  background-size: 60% auto

// NAV ITEM
.navbar-item
  font-size: 0.85rem
  color: $white

// NAV ITEM - Links
.navbar-item.hoverable, a.navbar-item, a.navbar-link
  // color: $white
  &:hover
    color: $tranquil-blue
    background-color: $dark-black !important


// NAV SEARCH
// .navbar .ant-input-search
  // border: 1px solid $dark-black
  // background: #aaa

  // Icon: Magnifying glass
  // + .ant-input-suffix .anticon
    // color: #fff

  // Search field focused
  // &:focus
    // background: $white
    // + .ant-input-suffix .anticon
      // color: $black
