.note

  .ant-card-body
    padding: .75rem

  .subject
    font-weight: bold

  .subject + .byline
    font-size: 0.6rem
    font-style: italic

  .body
    margin-top: .5rem
    font-size: 0.75rem


  .buttons
    margin-top: .5rem
