// TABLES

// Styling for basic tables (provided by Bulma)
// <table class="table"> ... </table>
.table
  background: none

  thead
    td, th
      color: $black
      border-bottom-width: 1px

  tbody
    font-family: "Work Sans", sans-serif

    tr:last-child
      td, th
        border-bottom-width: 1px




// SELECTOR REFERENCE FOR ANT TABLES
// div.ant-table
//   div.ant-table-content
//     div.ant-table-body
//       table
//         thead.ant-table-thead tr th
//           ...
//         tbody.ant-table-body
//           tr.ant-table-row td
//             ...

.ant-table
  font-size:     .75rem
  border:        1px solid $inner-component-border-color
  border-radius: $inner-component-border-radius
  padding:       .25rem

.ant-table-thead, .ant-table-tbody
  tr
    th
      padding:       .8rem $side-padding
      background:    none
      border-bottom: 1px solid $inner-component-border-color
    td
      padding:       .5rem $side-padding
      border-bottom: 1px solid $inner-component-border-color

    &:last-child td
      border-bottom: none

    &:hover
      td
        background: none
