/* =========================================================================== */
/* Font
/* =========================================================================== */

$family-sans-serif: "Work Sans", "Lato", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-serif: 'Eczar', serif
$weight-title-bold: 700
$weight-bold: 900

/* =========================================================================== */
/* Layout
/* =========================================================================== */

$max-site-width: 80rem
$side-padding: 1rem
$infinite:     999rem

$component-border-radius: 4px
$component-box-shadow: 0 2px 3px rgba(51, 51, 51, 0.1), 0 0 0 1px rgba(51, 51, 51, 0.1)

$inner-component-border-radius: 2px
$inner-component-border-color:  #e9e9e9
$inner-component-padding:       1rem


/* =========================================================================== */
/* Components
/* =========================================================================== */

$table-th-vertical-padding: .8rem
$table-td-vertical-padding: .7rem


/* =========================================================================== */
/* Buttons
/* =========================================================================== */

$radius-small: 4px

$icon-side-spacing: .5em
